<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696481326134-mt0nq1ogqtg97jpbie1prqo4vieghkin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696481326134-mt0nq1ogqtg97jpbie1prqo4vieghkin</string>
	<key>API_KEY</key>
	<string>AIzaSyByzFl_vng7O0ThV4A-YAYCMolwwOMyuDY</string>
	<key>GCM_SENDER_ID</key>
	<string>696481326134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationsDemo</string>
	<key>PROJECT_ID</key>
	<string>flutter-notificationsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notificationsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696481326134:ios:9c0cc9e5e0ee1c03c2e497</string>
</dict>
</plist>